/*
*Otto "Meister" Burroughs
*8-11-14
*DPWP Online
*Simple Form
*/


html{
	margin: 0 auto;
}

body{

	margin-top: 100px;
	margin-left: 200px;
	width: 996px;
	height: 600px;

}

#ad{

	width: 100%;
	height: 90px;

}
#ad h1, #ad h2, #ad h3{
		
		padding: 50px;
		margin-left: 245px;
		font-weight: bold;

}

form{

	margin: 0 auto;
	width: 420px;
	height: 330px;
	padding: 10px;
}

label{

	color: black;
	width: 200px;
	margin: 0 auto;
	font-size: 20pt;
	font-family: 'Helvetica Neue';
	float: left;
}

input{
	margin: 0 auto;
	padding: 10px;
	width: 210px;
	float: right;
	position: relative;
	top: -30px;
}